<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    <div class="container-fluid m-0 p-0">
        {{> header}}
        {{!-- Tomara un OBJETO --}}
        <section class="single-product"  style="height:100vh;">
            <div class="container mt-5">
                <div class="row">
                        <div class="col-md-5">
                            <img src='{{producto.rutaImagen}}' alt='{{producto.nombre}}' class="img-fluid" />
                        </div>
                        <div class="col-md-7">
                            <div class="single-product-details">
                                <h2 class="my-3">{{producto.nombre}}</h2>
                                <b class="product-price">{{dolarApeso producto.precio}}</b>

                                <p class="my-3">
                                    {{producto.descripcion}}
                                </p>
                                <p class="my-3">
                                    {{producto.caracteristicas}}
                                </p>
                                {{!-- <ul>
                                    <li> i7 </li>
                                    <li> 11gen </li>
                                    <li> 256gb SSD </li>
                                    <li> 16 gb RAM </li>
                                </ul> --}}

                                <a href="mailto:comprar@comprar.com?subject=interes en el producto {{producto.nombre}} ID:{{producto.id}}" class="btn btn-info mt-20">Comprar</a>

                            </div>
                        </div>
                </div>
            </div>
        </section>
        
        {{> footer}}
    </div>
</body>
</html>
