<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <title>Editar producto</title></head>

<body id="backend">
        {{> header}}
    <div class="container mb-4" style="margin-top:8rem;">
    <h2 class="text-center">Editando >> {{producto.nombre}} <<</h2>
        
        <div class="editar-producto mt-4">
            
            <form action="/editar-producto/{{producto.id}}" method="post">
                <div class="row">
                    
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="row">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" value="{{producto.nombre}}" name="nombre" required>
                            </div>


                            <div class="mb-3 col-12 col-md-6">
                                <label for="precio" class="form-label">Precio (u$s)</label>
                                <input type="text" class="form-control" id="precio"  value="{{producto.precio}}" name="precio" title="Sólo números" required>
                            </div>
                        </div>
                        

                        <div class="mb-3 col-12 editar" id="imagenCargada">
                            <div class="row">
                                <div class="col-6">
                                    <label for="imagenDeProducto" class="form-label">Ruta Imagen</label>
                                    <input type="text" value='{{producto.rutaImagen}}' id="imagenDeProducto" name="rutaImagen">
                                </div>
                                <div class="col-6">
                                    <label for="stock"></label>
                                    <input type="number" name="stock" value='{{producto.stock}}' id="stock">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-8">
                        <div class="row">
                            <div class="mb-3 col-8">
                                <label for="descripcion" class="form-label">Descripcion</label>
                                <textarea class="form-control" id="descripcion" rows="16" name="descripcion">{{producto.descripcion}}</textarea>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="caracteristicas" class="form-label">Caracteristicas</label>
                                <textarea class="form-control" id="caracteristicas" rows="16" placeholder="Separar con coma las características"
                                    name="caracteristicas">{{producto.caracteristicas}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info" onclick="return confirm('Esta seguro que quiere editar?')">Editar</button>
                <a href="/admin" class="btn btn-info">Volver al listado de productos</a>
            </form>
        </div>
    </div>

{{> footer}}

<script>
    // https://developer.mozilla.org/en-US/docs/Web/API/File/Using_files_from_web_applications
    
</script>
</body>

</html>